<!--================  Start Footer Area =================-->
<footer class="footer-area">
  <div class="footer_top section_gap_top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h5 class="footer_title">WeTravelPlanet</h5>
            <p class="about-text">{{ site.description }}</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h5 class="footer_title">Navigation Links</h5>
            <div class="row">
              <div class="col-5">
                <ul class="list">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Destinations</a></li>
                  <li><a href="#">Blog</a></li>
                </ul>
              </div>
              <div class="col-7">
                <ul class="list">
                  <li><a href="#">Enquiry</a></li>
                  <li><a href="#">Privacy & Policy</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">FAQs</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h5 class="footer_title">Important Links</h5>
            <div class="row">
              <div class="col-10">
                <ul class="list">
                  <li><a href="#">Travel Guides</a></li>
                  <li><a href="#">Hotel and Restaurant</a></li>
                  <li><a href="#">Beaches around</a></li>
                  <li><a href="#">Weekend Getaways</a></li>
                  <li><a href="#">Honeymoon Destinations</a></li>
                  <li><a href="#">Long Weekends In 2020</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3  col-md-6 col-sm-6">
          <div class="single-footer-widget">
            <h5 class="footer_title">Have a Questions?</h5>
            <div class="row">
              <div class="col-10">
                <ul class="list">
                  <li><span class="icon icon-map-marker"></span><span class="text">Bengaluru, India</span></li>
                  <li><a href="#"><span class="icon icon-phone"></span><span class="text">+91 982 1797 888</span></a></li>
                  <li><a href="mailto:info@wetravelplanet.com"><span class="icon icon-envelope"></span><span class="text">info@wetravelplanet.com</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <p>
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
          </p>
        </div>
        <div class="col-lg-6 col-md-12 text-right">
          <div class="social-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-behance"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--================ End Footer Area =================-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/stellar.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="js/owl-carousel-thumb.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/mail-script.js"></script>
<script src="js/theme.js"></script>
</body>
</html>